<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/homepage.css">
    <title>Model Deployment</title>

</head>

<body>


    <div class="alldiv">


        <div class="inst">
            <h1>
                Dry Bean Multiclass Classification
            </h1>
            <h3>
                Data Set Information:
            </h3>
            <p>
                Seven different types of dry beans were used in this research,
                taking into account the features such as form, shape, type, and
                structure by the market situation. A computer vision system was
                developed to distinguish seven different registered varieties of
                dry beans with similar features in order to obtain uniform seed
                classification. For the classification model, images of 13,611
                grains of 7 different registered dry beans were taken with a
                high-resolution camera. Bean images obtained by computer vision
                system were subjected to segmentation and feature extraction stages,
                and a total of 16 features; 12 dimensions and 4 shape forms, were
                obtained from the grains.
            </p>


            <p> Predict the categories of bean by entering their Attribute Information here <span><a
                        href=" {{ url_for('predict') }}"><button>Predict</button></a></span> </p>


        </div>

        <div class="img">
            <img src="{{ mypic }}" alt="">
        </div>

    </div>
    <div>
        <hr>
        <h3>
            Attribute Information:
        </h3>
        <ul>
            Perimeter (P): Bean circumference is defined as the length of its border.
        </ul>
        <ul>
            Convex area (C): Number of pixels in the smallest convex polygon that can contain the area of a bean seed.
        </ul>
        <ul>
            Extent (Ex): The ratio of the pixels in the bounding box to the bean area.
        </ul>
        <ul>
            Solidity (S): Also known as convexity. The ratio of the pixels in the convex shell to those found in beans.
        </ul>
        <ul>
            Roundness (R): Calculated with the following formula: (4piA)/(P^2)
        </ul>
        <ul>
            Compactness (CO): Measures the roundness of an object: Ed/L
        </ul>
    </div>






</body>

</html>