<!DOCTYPE html>
<html>
<head>
    <title>Plotly Express Visualization</title>
</head>
<body>
    <h1>Plotly Express Visualization</h1>
    <p>
        <a class="btn btn-primary btn-lg mt-5" href=" {{ url_for('home') }}" role="button">Home page &raquo;
    
        </a>
      </p>
    <div id="plotly-div"></div>
    <div id="plotly-div2"> </div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        
        // var graphJSON = {{ graphJSON|safe }};
        // Plotly.plot('plotly-div', graphJSON.data, graphJSON.layout);

        // var graphJSON2 = {{ graphJSON2|safe }};
        // Plotly.plot('plotly-div2', graphJSON2.data, graphJSON2.layout);
    </script>
</body>
</html>